body {
    margin: 0;
    font-family: serif;
    background-color: #7FFFD4
}

h1 {
    font-size: 3.5 em;
}
.content {
    display: grid;
    grid-template-rows: [header-start] auto [content-start] 1fr [footer-start] 100 px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

#first-place p {
    font-size: 200%;
    text-align:center;
}

#second-place p {
    font-size: 175%;
    text-align:center;
}

#third-place p {
    font-size: 160%;
    text-align:center;
}

